.header img {
    width:100px;
   
}
.header {
    background-color: white;
    color:red;
}
body {
    background-color: rgb(152, 118, 233); 
    font-family: 'Playball', cursive;
}
.modal-img img{
    width: 300px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .preview img {
    width: 40%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .preview .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width:293px;
    border-radius: 0;
    font-family: 'Special Elite', cursive;
    letter-spacing: 0.3px;
  }
  
  .preview .btn:hover {
    background-color: black;
  }
.modal-content {
      background-color: rgb(233, 118, 233);
      box-shadow: 5px 8px 13px black;
}
b {
  color: purple;
}
.copy_right_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #444444;
  line-height: 3;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color:white;
  font-weight: 900;
}